# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*





SIDE NOTES

___________________________

when your dealing with a text area in react, like for messaging, or shit like that you DONT use <textarea> or other tags like that.. example <text> </text> You dont do that, in react you reset the value of the prop. Example, in state use state type of shit. You reset it with this "value={inputState.value}" example,

textarea
  id = {props.id}
  rows = (props.rows || 3)
  onChange = {changeHandler}
  value = {inputState.value}


  return()



_______________________

onBlur


is used in things like an input field, and its for somrthing important. an important field, maybe in the sign up form or something, what it does when a user click into something, and then stops, like they stopped paying attention, if the click off the line, (somewhere else on the page, ) then red text will show as an alert for them to finish filling it out.


______________________________
